<%- include('paritals/header.ejs') %>

<body>
  <h1>View and Edit Player</h1>

  <a href="/">Home</a>

  <form id="add-player-form" action="/api/players" method="POST">
    <label for="name">Player Name:</label><br />
    <input type="text" id="name" name="name" /><br />
    <label for="type">type:</label><br />
    <input type="text" id="type" name="type" /><br />
    <button type="submit">Add Player</button>
  </form>

</body>

</html>