<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <title>View/Add Players</title>
  </head>
  <body>
    <h1>View and Add Players</h1>

    <ul>
      <% players.forEach(player => { %>
      <li>
        <b>ID: </b><%= player.id %> <br />
        <b>Player Name: </b><%= player.name %><br />
        <b>Player Type: </b><%= player.type %>
      </li>
      <% }); %>
    </ul>
  </body>
</html>
